<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>To do list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{'/css/style.css'}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary mt-0" th:insert="~{navbar}"></nav>
<div layout:fragment="todo"></div>

<script>
    const button = document.querySelector('#addTask');
    const form = document.querySelector('.myForm');
    const popup = document.querySelector('.popup');
    const cancel = document.querySelector('.cancel')

    button.addEventListener('click', () => {
        form.classList.add('open');
        popup.classList.add('popup_open');
    });

    cancel.addEventListener('click', () =>{
        form.classList.remove('open');
        popup.classList.remove('popup_open');
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>