<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="todo">
<button id="addTask" class="btn btn-primary btn-sm mt-3" style="margin-left: 16%">Add Folder</button>
    <div class="container-r">
        <div class="folder" th:each = "folder : ${folders}">
            <h2 class="name" th:text="${folder.name}"></h2>
            <div class="options">
                <a th:href="@{'/folderdetails/' + ${folder.id}}" class="btn btn-warning btn-sm">Details</a>
            </div>
        </div>
    </div>

<div class="popup">
    <div class="popup__container">
        <div class="popup__wrapper">
            <div class="myForm">
                <form role="form" action="/addfolder" autocomplete="off" method="POST">
                    <div class="row mt-3">
                        <div class="col-12">
                            <label>Folder name:</label>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12">
                            <input placeholder="Enter your folder's name" class="form-control" type="text" name="folder_name" required>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary cancel">Close</button>
                    <button type="submit" class="btn btn-success">Add Folder</button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>